*{
  margin: 0;
  padding: 0;
  font-family:  "Basis Grotesque Pro" ;

}

.container{
  display: grid;
  gap: 30px;
 max-width: 100%;
}
.align-images{
  position:relative;
 
}
.coins{
  position: absolute;
  top: 361px;
  left: 220px;
 
}

.coins img{
width: 50% ;
height: 50%;
}

.coinss-one{
  position: absolute;
  top: 110px;
  left: 110px;
 
}

.coinss-one img{
width: 50% ;
height: 50%;
}

.coins-two{
  position: absolute;
  top: 450px;
}

.coins-two img{
width: 50% ;
height: 50%;
}

.credit{
  position:absolute;
  top: 80px;
  left: 400px;
}

.credit img{
width: 50% ;
height: 50%;
}



.euro{
  position: absolute;
  top:311px;
  left:680px;
}

.euro img{
width: 50% ;
height: 50%;
}

.mobile{
  position: absolute;
  top:520px;
  left:95px;
}

.mobile img{
width: 70% ;
height: 70%;
}

.qr-code{
  position: absolute;
  top:460px;
  left:340px;
}

.qr-code img{
width: 70% ;
height: 70%;
}


.btn{
  position: absolute;
  top: 510px;
  left: 190px;
  border-radius: 8px;
  background-color: rgba(238, 238, 238, 1);
  border: none;
  font-size: 14px;
  display: inline-block;
 padding: 10px 15px 10px 15px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
margin: 20px auto; /* Centered on smaller screens */
}

.btn1{
  position: absolute;
  top: 560px;
  left: 190px;
  border-radius: 8px;
  background-color: rgba(238, 238, 238, 1);
  border: none;
  font-size: 14px;
  display: inline-block;
  padding: 10px 15px 10px 15px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
margin: 20px auto; /* Centered on smaller screens */
}

h5{
  font-size: 20px;
  color:rgba(0, 175, 235, 1);
  font-weight: 700;
}

@media (min-width: 760px) {
  .container{
      grid-template-columns: 1fr 1fr;
    
      
  }

  h5{
      margin-top: 54px;
  }


  
}




.btn3{
  border-radius: 8px;
  background-color: rgba(0, 0, 128, 1);
  border: none;
  font-size: 16px;
  display: inline-block;
 padding: 5px 10px 5px 10px; 
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
margin: 20px auto; /* Centered on smaller screens */
color: white;

}

.btn4{
  border-radius: 8px;
  background-color: rgba(238, 238, 238, 1);
  border: none;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px 5px 10px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
margin: 20px auto; /* Centered on smaller screens */
}

.input-name{


  box-sizing: border-box;
  border:1px solid rgba(100, 100, 100, 1);
  border-radius: 12px;
  font-size: 16px;
  background-repeat: no-repeat;
  padding: 10px;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 20px;
  background-color: white;
  background-image: url(./Images/fi-rr-user.png);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.form{
  display: block;
  margin: auto;
  width: 70%;
}
.first-form{
  display: inline-block;

}
form{
  background-color:  rgba(238, 238, 238, 1);
  width: 350px;
  border-radius: 20px;
  
}

.fname{
  display: flex;
}

.input-email{
  box-sizing: border-box;
  border:1px solid rgba(100, 100, 100, 1);
  border-radius: 12px;
  font-size: 16px;
  background-repeat: no-repeat;
  padding: 10px;
  width: 350px;
  margin-bottom: 20px;
  background-color: white;
  background-image: url(./Images/fi-rr-envelope.png);
  background-position: 10px 10px;  
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.password{
  box-sizing: border-box;
  border:1px solid rgba(100, 100, 100, 1);
  border-radius: 12px;
  font-size: 16px;
  background-repeat: no-repeat;
  padding: 10px;
  width: 350px;
  margin-bottom: 20px;
  background-color: white;
  background-image: url(./Images/fi-rr-lock.png);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.phone-no{
  box-sizing: border-box;
  border:1px solid rgba(100, 100, 100, 1);
  border-radius: 12px;
  font-size: 16px;
  background-repeat: no-repeat;
  padding: 10px;
  width: 440px;
  margin-bottom: 20px;
 
  
}

.switch {
 position: relative;
 display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}



.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 15px;
width: 16px;
left: 6px;
bottom: 3px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgba(0, 204, 150, 1);
}

input:focus + .slider {
box-shadow: 0 0 1px rgba(0, 204, 150, 1);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.toggle{
  display: flex;
  justify-content: space-between;

  width: 350px;
  margin-bottom: 20px;
} 

.toggle p{
  font-size: 16px;
  font-weight: 700;
}

.end{

text-align: center;
  width: 350px;

}

.btn5{
  border-radius: 12px;
  background-color: rgba(0, 0, 128, 1);
  border: none;
  font-size: 16px;
  display: inline-block;
 padding: 5px 10px 5px 10px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
margin: 10px auto; /* Centered on smaller screens */
color: white;
width: 200px;
height: 40px;
font-weight: 700;


}
.btn6{

  border-radius: 8px;
  background-color: rgba(238, 238, 238, 1);
  border: 2px solid rgba(0, 0, 128, 1); ;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  padding: 5px 10px 5px 10px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
margin: 10px auto; /* Centered on smaller screens */
width: 200px;
height: 40px;
color:rgba(0, 0, 128, 1);

}
